

/**********************************************************
* BUTTONS: */

.btn {
    height: 70px;
    width: 250px;
    font-size: large;
}


/* /BUTTONS: *
**********************************************************/