.box {
    height: 175px;
    background-color: #F0F0F0;
    cursor: pointer;
}

.box>h1, h2 {
    color: #134C96;
    position: absolute;
    font-weight: 100;
    margin: 80px 0 0 200px;
}

.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #5CB85C;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 23px;
  padding: 15px 32px;
  width: 300px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  
}
