<div class="main">
    <p *ngIf="!surveyService.oneSurvey" class="text-center title">{{ "Survey_options.title_one" | translate}}</p>
    <p *ngIf="surveyService.oneSurvey" class="text-center title">{{ "Survey_options.title_all" | translate}}</p>
    <hr>
    <p class="description">
        {{ "Survey_options.description" | translate}}
        <br><br> {{ "Survey_options.information" | translate}}
    </p>
    <div class="container">
        <form id="form" [formGroup]="complexForm" (ngSubmit)="submitForm(complexForm.value)">
            <!--Evaluated select-->
            <div class="block">
                <label for="evaluatedSelect"><span style="color: #134C96">*</span> 
                {{ "Survey_options.evaluated" | translate}}</label>
                <app-employee id="evaluatedAppEmployee" [formControl]="evaluated" ngDefaultControl>
                </app-employee>
                <!--Validator label-->
                <div class="alert alert-danger" *ngIf="(complexForm.controls.evaluated.invalid && complexForm.controls.evaluated.dirty)">{{ "Survey_options.relationship_alert" | translate }}.</div>
            </div>

            <!--Relationship select-->
            <div class="block">
                <label for="relationshipSelect"><span style="color: #134C96">*</span> 
                {{ "Survey_options.relationship" | translate}}</label>
                <select class="form-control" id="relationshipSelect" title="relationshipSelect" [formControl]="complexForm.controls['relationship']" #t (change)="relationChange(t.value)">
                  <option></option>
                  <option id="team">{{ "Survey_options.relation_teammate" | translate}}</option>
                  <option id="client">{{ "Survey_options.relation_client" | translate}}</option>                  
                  <option id="own">{{ "Survey_options.relation_own" | translate}}</option>
                </select>
                <!--Validator label-->
                <div class="alert alert-danger" *ngIf="!complexForm.controls['relationship'].valid  && complexForm.controls['relationship'].dirty"></div>
            </div>
            <!--Popover-->
            <a rel="popover" data-toggle="popover" data-placement="left" data-trigger="hover" data-popover-content="#myPopover"><img src="assets/images/see-more.png"></a>

            <!--Evaluator select-->
            <div *ngIf="!isSelf" class="block" id="evaluatorBlock">
                <label for="evaluatorSelect"><span style="color: #134C96">*</span> 
                {{ "Survey_options.evaluator" | translate}}</label>
                <input type="text" class="form-control" id="evaluatorAppEmployeeText" class="form-control hide" [formControl]="complexForm.controls['evaluator']">
                <app-employee id="evaluatorAppEmployee" [formControl]="complexForm.controls['evaluator']" ngDefaultControl>
                </app-employee>
                <!--Validator label-->
                <div id="alertEvaluator" class="alert alert-danger hide">{{ "Survey_options.evaluator_alert" | translate }}</div>
            </div>

            <!--Competence select-->
            <div *ngIf="!surveyService.oneSurvey" class="block">
                <label for="competencesSelect"><span style="color: #134C96">*</span> 
                {{ "Competences.title" | translate}}</label>
                <select class="form-control" id="competencesSelect" [formControl]="complexForm.controls['competenceToEvaluate']">
                    <option></option>
                    <option>{{ "Competences.competence_opening" | translate}}</option>
                    <option>{{ "Competences.competence_communication" | translate}}</option>
                    <option>{{ "Competences.competence_initiative" | translate}}</option>
                    <option>{{ "Competences.competence_client_orientation" | translate}}</option>
                    <option>{{ "Competences.competence_goals" | translate}}</option>
                    <option>{{ "Competences.competence_teamwork" | translate}}</option>
                    <option>{{ "Competences.competence_development" | translate}}</option>
                    <option>{{ "Competences.competence_goal" | translate}}</option>
                </select>
                <!--Validator label-->
                <div class="alert alert-danger" *ngIf="complexForm.controls['competenceToEvaluate'].invalid && complexForm.controls['competenceToEvaluate'].dirty">You must select a competence.</div>
            </div>
            <button type="submit" class="btn btn-default" [disabled]="!complexForm.valid && !isValid">Submit</button>
            <div class="margin-20"> {{ complexForm.value | json }}</div>
        </form>


    </div>

    <!--Popover content-->
    <div class="hide" id="myPopover">
        <h4>{{ "Survey_options.relation_teammate" | translate}}</h4>
        <p>
            {{ "Survey_options.relation_teammate_description" | translate}}
        </p>
        <h4>{{ "Survey_options.relation_client" | translate}}</h4>
        <p>
            {{ "Survey_options.relation_client_description" | translate}}
        </p>
        <h4>{{ "Survey_options.relation_own" | translate}}</h4>
        <p>
            {{ "Survey_options.relation_own_description" | translate}}
        </p>
    </div>
</div>

<app-footer (startNewSurvey)="startSurvey()"></app-footer>