<div class="main">
    <p class="text-center title">{{ "Welcome.title" | translate }}</p>
    <hr>
    <p class="description">
        {{ "Welcome.description" | translate }}
        <br><br> 
        {{ "Welcome.information" | translate }}
    </p>
    <h4 class="text-center">{{ "Welcome.options-title" | translate }}</h4>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div [routerLink]="['/surveyteam-setup']" class="box">
                    <h4>{{ "Welcome.option-one" | translate }}</h4>

                    <div class="left-picture-grid">
                        <img src="/assets/images/team.png" alt="">
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div [routerLink]="['/survey-setup']" class="box">
                    <h4>{{ "Welcome.option-all" | translate }}</h4>

                    <div class="left-picture-grid">
                        <img src="/assets/images/teammate.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>
