
<!--
    * Footer for the whole app, it contains two buttons to go back and go forward
-->
<footer class="footer">
    <button *ngIf="!(this.currentUrl == '/welcome')" (click)="advance()" type="button" class="btn right-button"> 
        {{ "Footer.start" | translate }} 
        <img src="assets/images/go.svg">
    </button>
    <button *ngIf="!(this.currentUrl == '/welcome')" (click)="cancel()" type="button" class="btn left-button"><img src="assets/images/go.svg">  {{ "Footer.back" | translate }}</button>
</footer>