<link href="https://opensource.keycdn.com/fontawesome/4.7.0/font-awesome.min.css" rel="stylesheet">
<!--
    * Footer for the whole app, it contains two buttons to go back and go forward
-->
<footer class="footer">
    <button *ngIf="!(this.currentUrl == '/welcome')" (click)="advance()" type="button" class="btn right-button"> 
        <span *ngIf="changeButtonsText()" >{{ "Footer.start" | translate }} </span>
        <span *ngIf="!changeButtonsText()" >{{ "Footer.continue" | translate }} </span>
       <i class="fa fa-chevron-right" aria-hidden="true"></i>
    </button>
    <button *ngIf="!(this.currentUrl == '/welcome')" (click)="cancel()" type="button" class="btn left-button">
    <i class="fa fa-chevron-left" aria-hidden="true"></i> 
    <span *ngIf="changeButtonsText()" >{{ "Footer.back" | translate }} </span>
    <span *ngIf="!changeButtonsText()" >{{ "Footer.beginning" | translate }} </span>
    
    </button>
</footer>