<html>
<meta charset="UTF-8">
<head>
    <title>Cambiar contraseña</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
<nav class="navbar">
    <img class="logo" alt="logo" src="/assets/images/logo.png">
    <h1 class="Admin-Header">Cambiar contraseña</h1>
</nav>
<div class="login">
    <div class="form">
        <form name="f" action="/api/password/change" method="post" id="form">
                Antigua contraseña o token:<br>
                <input type="password" id="oldPassword" name="oldPassword" placeholder="Antigua contraseña"><br>
                Nueva contraseña:<br>
                <input type="password" id="newPassword" name="newPassword" placeholder="Nueva contraseña"><br>
                Repetir nueva contraseña:<br>
                <input type="password" id="repeated" placeholder="Repetir contraseña"><br><br>
                <p id="error" class="error"></p>
                <input type="button" value="Guardar" onclick="verify()">
        </form>
    </div>
</div>
</body>
<script>
    function verify(){
        if (document.getElementById('newPassword').value
            === document.getElementById('repeated').value) {
                document.getElementById("error").innerHTML = "";
                document.getElementById('form').submit()
            }else {
                document.getElementById("error").innerHTML = "Los campos de la nueva contraseña deben coincidir";
            }
    }
</script>
</html>