<html>

<body>
    <nav class="navbar">
        <img class="logo" alt="logo" src="/assets/images/logo.png">
        <h1 class="Admin-Header">Cambiar contraseña</h1>
    </nav>
    <div class="login">
        <div class="form">
            <form name="f" action="/api/password/change" method="post" id="form">
                Antigua contraseña o token:<br>
                <input type="password" id="oldPassword" ng name="oldPassword" placeholder="Antigua contraseña" [(ngModel)]="oldPassword"><br>                Nueva contraseña:<br>
                <input type="password" id="newPassword" name="newPassword" placeholder="Nueva contraseña" [(ngModel)]="newPassword"><br>                Repetir nueva contraseña:<br>
                <input type="password" id="repeated" name="repeatedPassword" placeholder="Repetir contraseña" [(ngModel)]="repeatedPassword"><br><br>
                <p *ngIf="error !='' " class="error">{{error}}</p>
                <input type="button" value="Guardar" (click)="verifyAndPost()">
            </form>
        </div>
    </div>
</body>