<html>

<body>
    <app-navbar></app-navbar>
    <div class="login">
        <div class="form">
            <form name="f" #form="ngForm" id="form" novalidate>
                <div class="form-group" [class.has-error]="oldPasswordf.invalid && oldPasswordf.dirty">
                    <label class="control-label">{{ "Password.oldPassword" | translate }}</label>
                    <input #oldPasswordf="ngModel" class="form-control" required type="password" name="oldPassword" placeholder="{{ 'Password.oldPassword' | translate }}"
                        [(ngModel)]="oldPassword">
                </div>
                <div class="form-group" [class.has-error]="newPasswordf.invalid && newPasswordf.dirty">
                    <label class="control-label">{{ "Password.newPassword" | translate }}</label>
                    <input #newPasswordf="ngModel" required class="form-control" required type="password" name="newPassword" placeholder="{{ 'Password.newPassword' | translate }}"
                        [(ngModel)]="newPassword" validateEqual="repeatedPasswordf" reverse="true">
                </div>
                <div class="form-group" [class.has-error]="repeatedPasswordf.invalid && repeatedPasswordf.dirty">
                    <label class="control-label">{{ "Password.repeatedPassword" | translate }}</label>
                    <input #repeatedPasswordf="ngModel" class="form-control" required type="password" name="repeatedPassword" placeholder="{{ 'Password.repeatedPassword' | translate }}"
                        [(ngModel)]="repeatedPassword" validateEqual="newPasswordf">
                </div>
                <div *ngIf="((oldPasswordf.dirty && oldPasswordf.invalid) ||
                (newPasswordf.dirty && newPasswordf.invalid) ||
                (repeatedPasswordf.dirty && repeatedPasswordf.invalid))" class="alert alert-danger" role="alert">{{"Shared.emptyValues" | translate}}</div>
                <div *ngIf="(newPasswordf.dirty && repeatedPasswordf.dirty) && (newPasswordf.value != repeatedPasswordf.value)" class="alert alert-danger"
                    role="alert">{{"Password.mismatchingPasswords" | translate}}</div>
                <button type="button" (click)="postPasswordChangeRequest()" class="btn btn-primary btn-lg btn-block" [disabled]="form.invalid || (newPasswordf.value != repeatedPasswordf.value)">{{"Shared.changePassword" | translate}}</button>
            </form>
        </div>
    </div>
</body>