<div class="main">
    <div class="steps">
        <div class="container">
            <div class="row">
                <div id="openess" class="col-md-1 step active">
                    <button type="button" class="btn bg-faded btn-circle btn-lg disabled">1</button>
                    <p>{{ "Competences.competence_opening" | translate}}</p>
                </div>
                <div id="communication" class="col-md-1 step">
                    <button type="button" class="btn bg-faded btn-circle btn-lg disabled">2</button>
                    <p>{{ "Competences.competence_communication" | translate}}</p>
                </div>
                <div id="initiative" class="col-md-1 step">
                    <button type="button" class="btn bg-faded btn-circle btn-lg disabled">3</button>
                    <p>{{ "Competences.competence_initiative" | translate}}</p>
                </div>
                <div id="client_orientation" class="col-md-1 step">
                    <button type="button" class="btn bg-faded btn-circle btn-lg disabled">4</button>
                    <p>{{ "Competences.competence_client_orientation" | translate}}</p>
                </div>
                <div id="achivement_and_results" class="col-md-1 step">
                    <button type="button" class="btn bg-faded btn-circle btn-lg disabled">5</button>
                    <p>{{ "Competences.competence_goals" | translate}}</p>
                </div>
                <div id="teamwork" class="col-md-1 step">
                    <button type="button" class="btn bg-faded btn-circle btn-lg disabled">6</button>
                    <p>{{ "Competences.competence_teamwork" | translate}}</p>
                </div>
                <div id="development_oriented_leadership" class="col-md-1 step">
                    <button type="button" class="btn bg-faded btn-circle btn-lg disabled">7</button>
                    <p>{{ "Competences.competence_development" | translate}}</p>
                </div>
                <div id="achivement_oriented_leadership" class="col-md-1">
                    <button type="button" class="btn bg-faded btn-circle btn-lg disabled">8</button>
                    <p class="text-center">{{ "Competences.competence_goal" | translate}}</p>
                </div>

            </div>

        </div>
    </div>
    <hr>

    <div class="container">
        <!--Titles-->
        <div class="row">
            <div class="col-md-4">
            </div>
            <div class="col-md-1">
                <h4>
                    {{ "Survey.always" | translate }}
                </h4>
            </div>
            <div class="col-md-1">
                <h4>
                    {{ "Survey.almost_always" | translate }}
                </h4>
            </div>
            <div class="col-md-1">
                <h4>
                    {{ "Survey.occasionally" | translate }}
                </h4>
            </div>
            <div class="col-md-1">
                <h4>
                    {{ "Survey.never" | translate }}
                </h4>
            </div>
            <div class="col-md-1">
                <h4>
                    {{ "Survey.information" | translate }}
                </h4>
            </div>
        </div>
        <!--/Titles-->
        <!--Data-->
        <form #f="ngForm" (ngSubmit)="save(f.value, f.valid)" novalidate>
        <div *ngFor="let behavior of behaviors">
            <div class="row">
            
                <div class="col-md-4">
                    <div *ngIf="currentLanguage === 'es'">
                        <p>{{ behavior. es }}</p>
                    </div>
                    <div *ngIf="currentLanguage === 'en'">
                        <p>{{ behavior. en }}</p>
                    </div>
                </div>
                <div class="col-md-1">
                    <div class="radio radio-primary">
                        <input type="radio" name="radio{{behavior.id}}" id="{{behavior.id}}radio1" value="option1">
                        <label for="{{behavior.id}}radio1">
                        </label>
                    </div>
                </div>
                <div class="col-md-1">
                    <div class="radio radio-primary">
                        <input type="radio" name="radio{{behavior.id}}" id="{{behavior.id}}radio2" value="option2">
                        <label for="{{behavior.id}}radio2">
                        </label>
                    </div>
                </div>
                <div class="col-md-1">
                    <div class="radio radio-primary">
                        <input type="radio" name="radio{{behavior.id}}" id="{{behavior.id}}radio3" value="option3">
                        <label for="{{behavior.id}}radio3">
                        </label>
                    </div>
                </div>
                <div class="col-md-1">
                    <div class="radio radio-primary">
                        <input type="radio" name="radio{{behavior.id}}" id="{{behavior.id}}radio4" value="option4">
                        <label for="{{behavior.id}}radio4">
                        </label>
                    </div>
                </div>
                <div class="col-md-1">
                    <div class="radio radio-primary">
                        <input type="radio" name="radio{{behavior.id}}" id="{{behavior.id}}radio5" value="option5">
                        <label for="{{behavior.id}}radio5">
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-success">Submit</button>
        </form>
        <!--<div class="row">
            <form>
                <div class="col-md-4">
                    <p>Acepta sugerencias sin distinción de quien lo dé</p>
                </div>
                <div class="col-md-1">
                    <div class="radio radio-primary">
                        <input type="radio" name="radio1" id="radio1" value="option1">
                        <label for="radio1">
                        </label>
                    </div>
                </div>
                <div class="col-md-1">
                    <div class="radio radio-primary">
                        <input type="radio" name="radio1" id="radio2" value="option2">
                        <label for="radio2">
                        </label>
                    </div>
                </div>
                <div class="col-md-1">
                    <div class="radio radio-primary">
                        <input type="radio" name="radio1" id="radio3" value="option3">
                        <label for="radio3">
                        </label>
                    </div>
                </div>
                <div class="col-md-1">
                    <div class="radio radio-primary">
                        <input type="radio" name="radio1" id="radio4" value="option4">
                        <label for="radio4">
                        </label>
                    </div>
                </div>
                <div class="col-md-1">
                    <div class="radio radio-primary">
                        <input type="radio" name="radio1" id="radio5" value="option5">
                        <label for="radio5">
                        </label>
                    </div>
                </div>
            </form>
        </div>-->

        <!--<div class="row">
            <form>
                <div class="col-md-4">
                    <p>Reconoce sus errores</p>
                </div>
                <div class="col-md-1">
                    <div class="radio radio-primary">
                        <input type="radio" name="radio2" id="1radio1" value="option1">
                        <label for="1radio1">
                        </label>
                    </div>
                </div>
                <div class="col-md-1">
                    <div class="radio radio-primary">
                        <input type="radio" name="radio2" id="1radio2" value="option2">
                        <label for="1radio2">
                        </label>
                    </div>
                </div>
                <div class="col-md-1">
                    <div class="radio radio-primary">
                        <input type="radio" name="radio2" id="1radio3" value="option3">
                        <label for="1radio3">
                        </label>
                    </div>
                </div>
                <div class="col-md-1">
                    <div class="radio radio-primary">
                        <input type="radio" name="radio2" id="1radio4" value="option4">
                        <label for="1radio4">
                        </label>
                    </div>
                </div>
                <div class="col-md-1">
                    <div class="radio radio-primary">
                        <input type="radio" name="radio2" id="1radio5" value="option5">
                        <label for="1radio5">
                        </label>
                    </div>
                </div>
            </form>
        </div>-->


        <!--<button type="button" class="btn btn-large btn-block btn-default" (click)="nextAptitude()">button</button>-->

        <h4>
            {{ "Survey.observations" | translate }}
        </h4>
        <textarea class="form-control" rows="3"></textarea>
    </div>
</div>

<app-footer></app-footer>