<div class="main">
    <div class="steps">
        <div class="container">
            <div *ngIf="!surveyService.oneSurvey" class="row" class="text-center">
                <!--<div class="row" style="text-align: center">-->
                <h2>{{surveyService.competence}}</h2>
            </div>
            <div *ngIf="surveyService.oneSurvey" class="row">
                <div id="1" class="col-md-1 step active">
                    <button type="button" class="btn bg-faded btn-circle btn-lg disabled">1</button>
                    <p>{{ "Competences.competence_opening" | translate}}</p>
                </div>
                <div id="2" class="col-md-1 step">
                    <button type="button" class="btn bg-faded btn-circle btn-lg disabled">2</button>
                    <p>{{ "Competences.competence_communication" | translate}}</p>
                </div>
                <div id="3" class="col-md-1 step">
                    <button type="button" class="btn bg-faded btn-circle btn-lg disabled">3</button>
                    <p>{{ "Competences.competence_initiative" | translate}}</p>
                </div>
                <div id="4" class="col-md-1 step">
                    <button type="button" class="btn bg-faded btn-circle btn-lg disabled">4</button>
                    <p>{{ "Competences.competence_client_orientation" | translate}}</p>
                </div>
                <div id="5" class="col-md-1 step">
                    <button type="button" class="btn bg-faded btn-circle btn-lg disabled">5</button>
                    <p>{{ "Competences.competence_goals" | translate}}</p>
                </div>
                <div id="6" class="col-md-1 step">
                    <button type="button" class="btn bg-faded btn-circle btn-lg disabled">6</button>
                    <p>{{ "Competences.competence_teamwork" | translate}}</p>
                </div>
                <div id="7" class="col-md-1 step">
                    <button type="button" class="btn bg-faded btn-circle btn-lg disabled">7</button>
                    <p>{{ "Competences.competence_development" | translate}}</p>
                </div>
                <div id="8" class="col-md-1">
                    <button type="button" class="btn bg-faded btn-circle btn-lg disabled">8</button>
                    <p class="text-center">{{ "Competences.competence_goal" | translate}}</p>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="container">
        <!--Titles-->
        <div class="row">
            <div class="col-md-4">
            </div>
            <div class="col-md-1">
                <h4>
                    {{ "Survey.always" | translate }}
                </h4>
            </div>
            <div class="col-md-1">
                <h4>
                    {{ "Survey.almost_always" | translate }}
                </h4>
            </div>
            <div class="col-md-1">
                <h4>
                    {{ "Survey.occasionally" | translate }}
                </h4>
            </div>
            <div class="col-md-1">
                <h4>
                    {{ "Survey.never" | translate }}
                </h4>
            </div>
            <div class="col-md-1">
                <h4>
                    {{ "Survey.information" | translate }}
                </h4>
            </div>
        </div>
        <!--/Titles-->
        <!--Data-->
        <form [formGroup]="surveyForm" (ngSubmit)="save()" *ngIf="showForm" novalidate>
            <!--Looping behaviors-->
            <div *ngFor="let behavior of behaviors; let i=index">
                <div class="row">
                    <div class="col-md-4">
                        <div *ngIf="currentLanguage === 'es'">
                            <p>{{ behavior. es }}</p>
                        </div>
                        <div *ngIf="currentLanguage === 'en'">
                            <p>{{ behavior. en }}</p>

                        </div>
                    </div>
                    <!--Looping to create radio buttons-->
                    <div formArrayName="behaviorSurvey" *ngFor="let answer of behaviorSurvey.controls, let y=index">
                        <div [formGroupName]="i">
                            <div class="col-md-1">
                                <div class="radio radio-primary">
                                    <input class="validateRadio{{i}}" formControlName="score" type="radio" id="{{behavior.id}}radio{{y}}" value="{{4-y}}" required>
                                    <label for="{{behavior.id}}radio{{y}}">
                                    </label>
                                </div>
                            </div>
                        </div>
                        <!--Validate and create the remaining radio button-->
                        <div *ngIf="behaviorSurvey.controls?.length < 5 && y === behaviorSurvey.controls?.length-1">
                            <div [formGroupName]="i">
                                <div class="col-md-1">
                                    <div class="radio radio-primary">
                                        <input class="validateRadio{{i}}" formControlName="score" type="radio" id="{{behavior.id}}radio{{y+1}}" value="{{4-y-1}}" required>
                                        <label for="{{behavior.id}}radio{{y+1}}">
                                    </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="alert alert-danger" id="radio-alert" [style.display]="(!surveyForm.valid && submitted && !textAreaIsRequired) ? 'block' : 'none'">{{ "Survey.survey_alert" | translate }}.</div>
            <!--XXX: This is hardcoded but is one way to do-it, i'll search how to do it better-->
            {{ bindRadioButtons() }}
            <h4>
                {{ "Survey.observations" | translate }}
            </h4>
            <textarea formControlName="observation" class="form-control" rows="3" minlength="10"></textarea><br>
            <div class="alert alert-danger" id="radio-alert" [style.display]="(textAreaIsRequired && submitted) ? 'block' : 'none'">{{ "Survey.survey_observations_alert" | translate }}.</div>
        </form>
    </div>
</div>

<app-footer (surveyAdvance)="surveyAdvance()"></app-footer>